main{
    height: 100vh;
    width: 100vw;
}

h1{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

#bet h1{
    font-family: "Pixelify Sans";
}

#game h1{
    font-family: Inter;
    font-weight: normal;
    font-size: 28px;
}


h2{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 14px;
    text-transform: uppercase;
    margin: 0;
}

h3{
    font-family: "Pixelify Sans";
    font-weight: normal;
    color: gray;
    margin: 0;
}

p{
    font-family: Inter;
}

b{
    color: black;
}

button{
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    font-family: "Pixelify Sans";
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    text-transform: uppercase;
}

#betoptions button{
    font-family: Inter;
}

#betoptions button:hover{
    background-color: orange;
}

button:hover{
    background-color: black;
    color: white;
}

.primary{
    background-color: black;
    color: white;
}
.primary:hover{
    background-color: gray;
}

.tertiary{
    border: none;
}

.tertiary:hover{
    color: red;
    background-color: white;
}

#startscreen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

#bet{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    display: none;
}

#betoptions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#bet h3, #bet h1{
    font-family: Inter;
}

.actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.horizontal{
    display: flex;
    align-items: center;
    gap: 28px;
}

#game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: none;
}

#game h2{
    letter-spacing: normal;
    font-family: "Pixelify Sans";
    font-size: 28px;
}

#carrotcount{
    position: absolute;
    left: 40px;
    top: 40px;
    visibility: hidden;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#endgame-modal, #tutorial-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
}

#endgame-content, #tutorial-content {
    background-color: white;
    border: 2px solid #000;
    padding: 40px;
    /* border-radius: 16px; */
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#tutorial-content{
    max-width: 600px;
    text-align: left;
}

#tutorial-content h1{
    font-family: "Pixelify sans";
}

#tutorial-content h1{
    font-family: "Pixelify sans";
}

#tutorial-ok{
    margin-top: 20px;
}

#endgame-content h2, #tutorial-content h2 {
    font-family: "Pixelify Sans";
    font-size: 24px;
    margin-bottom: 16px;
    letter-spacing: normal;
}

#endgame-content p {
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 24px;
}

#endgame-content button {
    padding: 10px 24px;
    font-family: "Pixelify Sans";
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    height: 40px;
    padding: 40px;
}

