main{
    height: 100vh;
    width: 100vw;
}
h1{
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

#bet h1{
    font-family: "Pixelify Sans";
}

#game h1{
    font-family: "Pixelify Sans";
    font-weight: normal;
    font-size: 28px;
}


h2{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 14px;
    text-transform: uppercase;
    margin: 0;
}

h3{
    font-family: "Pixelify Sans";
    font-weight: normal;
    color: gray;
    margin: 0;
}

b{
    color: black;
}

button{
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    font-family: "Pixelify Sans";
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    text-transform: uppercase;
}

#betoptions button{
    font-family: Inter;
}

button:hover{
    background-color: black;
    color: white;
}

.primary{
    background-color: black;
    color: white;
}
.primary:hover{
    background-color: gray;
}

.tertiary{
    border: none;
}

.tertiary:hover{
    color: red;
    background-color: white;
}

#startscreen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

#bet{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#betoptions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.horizontal{
    display: flex;
    align-items: center;
    gap: 28px;
}

#game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#game h2{
    letter-spacing: normal;
    font-family: "Pixelify Sans";
    font-size: 28px;
}

#carrotcount{
    position: absolute;
    left: 20px;
    top: 20px;
    visibility: hidden;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}



